body{
    background-image: url(./image/20210215_172918-01.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgElement{
    backdrop-filter: blur(3px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.342);
    transition: 0.3s;
}
.form-group label{
    color: whitesmoke;
    text-shadow: 1px 1px 2px gray;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px gray;
}
.txt-ag{
    text-align: center;
   
}
#Enterprise{
    display: none;
}
